*.a
*.o
/_meta
/_ndx.tr
/_toc.tr
/_xref.tr
/arse
/arse-core.image
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files
/debian/scheme9
/mkvfont
/s9
/s9.1
/s9.1.gz
/s9.image
/s9core.ps
/s9e-core.image
/sys6x12.vf
/test.image
